<div id="sign">
  <div class="sign_up">
    <h3>新規登録</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="cp_iptxt">
        <%= f.text_field :nickname, autocomplete: "nickname", class: "ef" %>
        <%= f.label :"ニックネーム" %>
        <span class="focus_line"></span>
      </div>

      <div class="cp_iptxt">
        <%= f.email_field :email, autocomplete: "email", class: "ef" %>
        <%= f.label :"メールアドレス" %>
        <span class="focus_line"></span>
      </div>

      <div class="cp_iptxt">
        <%= f.password_field :password, autocomplete: "new-password", class: "ef" %>
        <%= f.label :"パスワード(6文字以上)" %>
        <span class="focus_line"></span>
      </div>

      <div class="cp_iptxt">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "ef" %>
        <%= f.label :"パスワード(確認用)" %>
        <span class="focus_line"></span>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
