<header>
  <div class="title">
    <h1><%= link_to("A little happiness", "#")%></h1>
  </div>
  <div class="nav">
    <ul>
      <li><%= link_to("Home", "#")%></li>
      <li><%= link_to("Search", "#")%></li>
      <li><%= link_to("Category", "#")%></li>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class="usernav">
      <ul>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to  "投稿する", "#", class: "post" %></li>
      </ul>
    </div>
  <% else %>
    <div class="usernav">
      <ul>
        <li><%= link_to "ログイン", "/users/sign_in", class: 'post' %></li>
        <li><%= link_to "新規登録", "/users/sign_up", class: 'post' %></li>
      </ul>
    </div>
  <% end %>
</header>

<main>
  <div class="contents">
    <h2>少しの幸せを</h2>
    <div class="search">
      <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワード", class: "search-input" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class="inner">
      <% @tweets.each do |tweet| %>
        <div class="content">
          <div class="content_post" style="background-image: url(<%= tweet.image %>);">
            <p><%= tweet.title %></p>
          </div>
          <div class="content__user">
            <div class="img"></div>
            <span>ユーザーネーム</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

<footer></footer>
